<div *ngIf="selectedAudio">
  <h2>{{ selectedAudio.fullTitle | uppercase }} is playing</h2>
</div>

<ul class="audios">
  <li *ngFor="let audio of audios">
    <button (click)="onSelect(audio)">play</button> {{audio.fullTitle}} ({{audio.url}})
  </li>
</ul>
